<%= form_with(model: comment, local: true) do |form| %>
  <div class="field" style="color: white;">
    <%= form.text_field :title%>
  </div>

  <div class="field" style="color: white;">
    <%= form.rich_text_area :body%>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar' , class: 'btn btn-primary mt-2' %>
  </div>
<% end %>