<<<<<<< HEAD
<h1 style="color: white;">Editing Comment</h1>
=======
<h1>Editing Comment</h1>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
