<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p style="color: white;">
=======
<p>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
