<!-- Mis Profesores / Muestra profesores de los cursos incritos -->
<div class="container mt-3">
	<h1 class="center" style="color:white !important; margin-top: 2rem;">Mis profesores</h1>

	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
			</tr>
		</thead>
		<tbody>
			<% @teachers.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.last_name %></td>
					<td><%= user.email %></td>
          <td><%= link_to 'Ver', user, class: "btn btn-primary" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>