<%= form_for([@user, @teacher_comment]) do |form| %>
  <%= form.hidden_field :user_id, value:"#{current_user.id}" %> 
  <div class="field bg-white mt-3">
    <%= form.rich_text_area :teacher_comment %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar' , class: 'btn btn-primary mt-2' %>
  </div>
<% end %>