<h1>Bienvenido a la plataforma de feedback</h1>
<p>Si eres un Alumno, registrate o inicia sesión y podras dejar tu calificacion y opinion a los profesores de los ramos que tengas inscritos</p>
<p>Si eres un Profesor, registrate o inicia sesión y podras saber tu evaluacion como docente en los ramos dictados</p>