<div class='card mt-4'>
  <div class='row mt-3 pb-3 justify-content-center'>
    <div class='col-12 card-body ml-4 mr-4'>
      <% if user_signed_in? %>
        <h1>Bienvenido <%= current_user.name %></h1>
        <p>Usted se ha logueado como <%= current_user.role %></p>
      <%else%>
        <h1>Bienvenido a la plataforma de feedback</h1>
        <h5>- Si eres Alumno inicia sesión y podrás dejar tu calificación junto con tú opinión a los profesores de los ramos que tengas inscritos</p>
        <h5>- Si eres Profesor inicia sesión y podrás ver tu evaluación como docente de los ramos dictados</p>
      <% end %>
    </div>
  </div>
</div>  