<<<<<<< HEAD
<h1 style="color: white;">Editing Course</h1>
=======
<h1>Editing Course</h1>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
